    /*
    Flaticon icon font: Flaticon
    Creation date: 10/11/2018 09:40
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-bag:before { content: "\f100"; }
.flaticon-bag-1:before { content: "\f101"; }
.flaticon-supermarket:before { content: "\f102"; }
.flaticon-bag-2:before { content: "\f103"; }
.flaticon-bag-3:before { content: "\f104"; }
.flaticon-box:before { content: "\f105"; }
.flaticon-tag:before { content: "\f106"; }
.flaticon-truck:before { content: "\f107"; }
.flaticon-phone:before { content: "\f108"; }
.flaticon-box-1:before { content: "\f109"; }
.flaticon-bag-4:before { content: "\f10a"; }
.flaticon-supermarket-1:before { content: "\f10b"; }
.flaticon-truck-1:before { content: "\f10c"; }
.flaticon-bag-5:before { content: "\f10d"; }
.flaticon-bag-6:before { content: "\f10e"; }
.flaticon-shopping-cart:before { content: "\f10f"; }
.flaticon-box-2:before { content: "\f110"; }
.flaticon-truck-2:before { content: "\f111"; }
.flaticon-box-3:before { content: "\f112"; }
.flaticon-magnifying-glass:before { content: "\f113"; }
.flaticon-instagram-1:before { content: "\f114"; }
.flaticon-shirts:before { content: "\f115"; }
.flaticon-tshirt:before { content: "\f116"; }
    
    $font-Flaticon-bag: "\f100";
    $font-Flaticon-bag-1: "\f101";
    $font-Flaticon-supermarket: "\f102";
    $font-Flaticon-bag-2: "\f103";
    $font-Flaticon-bag-3: "\f104";
    $font-Flaticon-box: "\f105";
    $font-Flaticon-tag: "\f106";
    $font-Flaticon-truck: "\f107";
    $font-Flaticon-phone: "\f108";
    $font-Flaticon-box-1: "\f109";
    $font-Flaticon-bag-4: "\f10a";
    $font-Flaticon-supermarket-1: "\f10b";
    $font-Flaticon-truck-1: "\f10c";
    $font-Flaticon-bag-5: "\f10d";
    $font-Flaticon-bag-6: "\f10e";
    $font-Flaticon-shopping-cart: "\f10f";
    $font-Flaticon-box-2: "\f110";
    $font-Flaticon-truck-2: "\f111";
    $font-Flaticon-box-3: "\f112";
    $font-Flaticon-magnifying-glass: "\f113";
    $font-Flaticon-instagram-1: "\f114";
    $font-Flaticon-shirts: "\f115";
    $font-Flaticon-tshirt: "\f116";